---
import OgTags from "../_OgTags.astro";

export interface Props {
  title: string;
  hue: number;
  swapped?: boolean;
  themeColor?: string;
  bodyClass?: string;
}

const { title, hue, swapped, themeColor = '', bodyClass } = Astro.props;

// approximation. Eventually I'll port the theme generator to server-side code so I can generate the correct favicon based on the theme.
const favicon = 'https://danmercer.net/api/favicon?' + (swapped ? `text=000000&bg=${themeColor.slice(1)}` : `text=${themeColor.slice(1)}&bg=ffffff`);

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/techstyle.css" />
    <style define:vars={{ hue, swapped: swapped ? 1 : 0 }}>
      :root {
        --t-hue: var(--hue);
        --t-swapped: var(--swapped)};
      }
    </style>
    {themeColor && (
      <>
        <meta name="theme-color" content={themeColor} />
        <link
          rel="icon"
          href={favicon}
        />
      </>
    )}
    <OgTags />
  </head>

  <body class={bodyClass}>
    <slot></slot>
  </body>
</html>
